*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.ruby-version
.ruby-gemset
*/spec/fixtures
spec/fixtures

# YARD artifacts
.yardoc
_yardoc
doc/
